@import "mocha.css";

* {
    border: none;
    font-size: 11px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
    min-height: 25px;
    color: @mauve;
}

window#waybar {
  background: @base;
 }

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  padding: 0 0 0 5px;
  background: @base;
}

.modules-center {
 background: @base;
}

.modules-left {
  background: @base;

}

#custom-clipboard,
#custom-colorpicker,
#bluetooth,
#network,
#memory,
#taskbar,
#cpu,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}
#pulseaudio {
  padding-top: 3px;
}
#workspaces button:hover {
    background: @surface0;
    color: #bac2de;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}


#temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}




#clock{
  color: @lavender;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
